@charset "utf-8";

/* Full Screen Desktop Clients */
@media only screen and (min-width: 650px) and (min-device-width: 90mm) and (-webkit-max-device-pixel-ratio: 1.5){
	html, body, #midtent, #content {
		margin: 0;
		height: 100%;
	}
	
	html {
		background:#000000;
		/*background: url(../images/tvstatic.gif) repeat;*/
	}
	
	#content {
		/*background: url(../images/background-big.png) no-repeat center center fixed;*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	#header {
		padding-top: 20px;
		padding-left: 20px;
	}
	
	#header h1 {
		margin: 0;
		padding: 2px;
		padding-left: 2em;
		font-family: 'Play', sans-serif;
		font-size:48px;
		background-color: rgba(0,51,51,1);
		color:rgba(255,255,255,1);
	}
	#header h1 img{
		position:absolute;
		left: 48px;
		top: 25px;
	}
	#header h2 {
		margin: 0;
		padding: 2px;
		padding-left: 2.6em;
		font-family: 'Play', sans-serif;
		font-size:24px;
		background-color: rgba(153,153,153,1);
		color:rgba(255,255,255,1);
	}
	#header a {
		text-decoration:none;
	}
	#nav{
		margin: 0;
		padding: 0;
		margin-left: -5px;
		list-style-type: none;
		font-size:0px;
	}
	#nav li{
		padding-left: 5px;
		padding-right: 5px;
		display: inline-block;
		font-size:24px;
		width: 8em;
		
	}
	
	#nav li a{
		text-decoration:none;
	}
	
	#nav li a:hover p{
		height: 40px;
		background-color: rgba(153,153,153,1);
	}
	
	#nav li a p{
		height: 27px;
		font-family: 'Play', sans-serif;
		font-size:24px;
		margin: 0;
		padding: 2px;
		background-color:rgba(255,255,255,0.2);
		color:rgba(255,255,255,1);
		-webkit-transition: background-color 0.3s ease-in-out, height 0.3s;
		-moz-transition: background-color 0.3s ease-in-out, height 0.3s;
		-o-transition: background-color 0.3s ease-in-out, height 0.3s;
		transition: background-color 0.3s ease-in-out, height 0.3s;
	}
	
	#cellcontainer {
		margin: 0;
		margin-top:1em;
		padding: 2px;
		padding-left: 20px;
		padding-right: 20px;
		text-align:center;
	}
	
	div.youtube {
		position:absolute;
		top: 200px;
		left: 16px;
		border:thick solid rgba(0,0,0,1);
	}
	div.youtube p {
		font-family: 'Play', sans-serif;
		font-size:24px;
		color:rgba(255,255,255,1);
		margin: 0;
		padding: 2px 0 2px 16px;
		background-color:rgba(153,153,153,1);
	}
	
	div.cell {
		margin: 0;
		padding: 0;
		margin-bottom:8px;
		margin-left:4px;
		margin-right: 4px;
		display: inline-block;
		text-align:center;
		width: 333px;
		background-color: rgba(255,255,255,0.4);
	}
	
	div.cell p {
		margin: 0;
		padding: 0;
	}
	div.celltop {
		height: 333px;
	}
	div.cellbottom {
		margin-top:8px;
		margin-bottom: 8px;
		margin-left: 8px;
		margin-right: 8px;
		padding:8px;
		height: 301px;
		background-color: rgba(255,255,255,0.8);
		text-align:left;
	}
	div.cellbottom h2 {
		margin: 0;
		text-align:center;
	}
	div.cellbottom h3 {
		margin: 0;
		text-align:center;
	}
	
	div.fullCellHolder {
		position:absolute;
		top: 168px;
	}
	
	div.fullcell {
		background-color:rgba(204,204,204,1);
		height: 333px;
		max-width: 900px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 16px;
		padding:8px;
		overflow:scroll;
		overflow-y: auto;
		overflow-x: auto;
    	text-overflow: ellipsis;
	}
	
	div.fullcell img {
		float:left;
		margin-right:8px;
	}
	
	div.fullCellText {
		margin: 0;
		padding: 0;
		overflow: hidden;
    	text-overflow: ellipsis; 
	}
	div.fullCellText p {
		margin: 0;
		padding: 0;
		overflow: hidden;
    	text-overflow: ellipsis; 
	}
	div.fullCellText h2 {
		margin: 0;
		padding: 0;	
	}
	div.fullCellText h3 {
		margin: 0;
		padding: 0;	
	}
	
	div.alignbottom {
		vertical-align:bottom;
	}
	
	#resume {
		position:absolute;
		top: 175px;
		left: 0; 
  		right: 0; 
		width: 860px;
		padding: 8px 8px 16px 8px;
  		margin-left: auto; 
  		margin-right: auto; 
		background-color: rgba(255,255,255,0.8);
	}
	#resume a {
		margin-bottom:8px;
		float:right;
	}
	#resume h1 {
		margin-bottom: 8px;
		padding-left:8px;
	}
	#resume h2 {
		margin: 4px;
		padding-left:16px;
	}
	#resume h3 {
		margin: 4px;
		padding-left:32px;
	}
	#resume p {
		margin: 4px;
		padding-left:48px;
	}
	
}
/* Skinny/Small Screen Desktop Clients */
@media only screen and (max-width: 649px) and (-webkit-max-device-pixel-ratio: 1.5){
	html, body, #midtent, #content {
		margin: 0;
		height: 100%;
	}
	
	html {
		background:#000000;
		/*background: url(../images/tvstatic.gif) repeat; */
	}
	
	#content {
		/*background: url(../images/background-big.png) no-repeat center center fixed;*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	#header {
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#header h1 {
		margin: 0;
		padding: 2px;
		padding-left: 1em;
		font-family: 'Play', sans-serif;
		font-size:48px;
		background-color: rgba(0,51,51,1);
		color:rgba(255,255,255,1);
	}
	#header h2 {
		margin: 0;
		padding: 2px;
		padding-left: 2.6em;
		font-family: 'Play', sans-serif;
		font-size:24px;
		background-color: rgba(153,153,153,1);
		color:rgba(255,255,255,1);
	}
	#header a {
		text-decoration:none;
	}
	#nav{
		margin: 0;
		padding: 0;
		width: 50%;
		margin-left:auto;
		margin-right:auto;
		list-style-type: none;
		font-size:0px;
		text-align: center;
	}
	#nav li{
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size:24px;
	}
	
	#nav li a{
		text-decoration:none;
	}
	
	#nav li a:hover p{
		background-color: rgba(193,193,193,1);
	}
	
	#nav li a p{
		font-family: 'Play', sans-serif;
		font-size:28px;
		margin: 0;
		padding: 2px;
		padding-top: 1em;
		padding-bottom: 1em;
		background-color: rgba(153,153,153,1);
		color:rgba(255,255,255,1);
	}
	
	#cellcontainer {
		margin: 0;
		padding: 2px;
		padding-left: 20px;
		padding-right: 20px;
		text-align:center;
	}
	
	div.youtube {
		width:560px;
		margin-left: auto;
		margin-right: auto;
		border:thick solid rgba(0,0,0,1);
	}
	div.youtube p {
		font-family: 'Play', sans-serif;
		font-size:24px;
		color:rgba(255,255,255,1);
		margin: 0;
		padding: 2px 0 2px 16px;
		background-color:rgba(153,153,153,1);
	}
	
	div.cell {
		display: inline-block;
		text-align:center;
		width: 333px;
	}
	
	div.cell p {
		margin: 0;
		padding: 0;
	}
	div.celltop {
		height: 333px;
	}
	div.cellbottom {
		margin-top:8px;
		margin-bottom: 8px;
		margin-left: 8px;
		margin-right: 8px;
		padding:8px;
		height: 301px;
		background-color: rgba(255,255,255,0.8);
		text-align:left;
	}
	div.cellbottom h2 {
		margin: 0;
		text-align:center;
	}
	div.cellbottom h3 {
		margin: 0;
		text-align:center;
	}
	
	div.fullCellHolder {

	}
	
	div.fullcell {
		background-color:rgba(204,204,204,1);
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 16px;
		padding:8px;
		overflow:scroll;
		overflow-y: auto;
		overflow-x: auto;
    	text-overflow: ellipsis;
	}
	
	div.fullcell img {
		margin-right:8px;
	}
	
	div.fullCellText {
		margin: 0;
		padding: 0;
		overflow: hidden;
    	text-overflow: ellipsis; 
	}
	div.fullCellText p {
		margin: 0;
		padding: 0;
		overflow: hidden;
    	text-overflow: ellipsis; 
	}
	div.fullCellText h2 {
		margin: 0;
		padding: 0;	
	}
	div.fullCellText h3 {
		margin: 0;
		padding: 0;	
	}
	
	div.alignbottom {
		vertical-align:bottom;
	}
	
	#resume {
		width: 90%;
		padding: 8px 8px 16px 8px;
		margin:auto;
		margin-top: 32px;
		background-color: rgba(255,255,255,0.8);
	}
	#resume a {
		margin-bottom:8px;
		float:right;
	}
	#resume img {
		float:right;
	}
	#resume h1 {
		margin-bottom: 8px;
		padding-left:8px;
	}
	#resume h2 {
		margin: 4px;
		padding-left:16px;
	}
	#resume h3 {
		margin: 4px;
		padding-left:32px;
	}
	#resume p {
		margin: 4px;
		padding-left:48px;
	}
	iframe {
		width: 100%;
		height: 1800px;
	}
}
/* Mobile Clients Hopefully */
@media screen and (-webkit-min-device-pixel-ratio: 1.51){
	html, body, #midtent, #content {
		margin: 0;
		height: 100%;
	}
	
	html {
		background:#000000;
		/*background: url(../images/tvstatic.gif) repeat; */
	}
	
	#content {
		/*background: url(../images/background-big.png) no-repeat center center fixed;*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	#header {
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#header h1 {
		margin: 0;
		padding: 2px;
		padding-left: 1em;
		font-family: 'Play', sans-serif;
		font-size:48px;
		background-color: rgba(0,51,51,1);
		color:rgba(255,255,255,1);
	}
	#header h2 {
		margin: 0;
		padding: 2px;
		padding-left: 2.6em;
		font-family: 'Play', sans-serif;
		font-size:24px;
		background-color: rgba(153,153,153,1);
		color:rgba(255,255,255,1);
	}
	#header a {
		text-decoration:none;
	}
	#nav{
		margin: 0;
		padding: 0;
		width: 50%;
		margin-left:auto;
		margin-right:auto;
		list-style-type: none;
		font-size:0px;
		text-align: center;
	}
	#nav li{
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		font-size:24px;
	}
	
	#nav li a{
		text-decoration:none;
	}
	
	#nav li a:hover p{
		background-color: rgba(193,193,193,1);
	}
	
	#nav li a p{
		font-family: 'Play', sans-serif;
		font-size:28px;
		margin: 0;
		padding: 2px;
		padding-top: 1em;
		padding-bottom: 1em;
		background-color: rgba(153,153,153,1);
		color:rgba(255,255,255,1);
	}
	
	#cellcontainer {
		margin: 0;
		padding: 2px;
		padding-left: 20px;
		padding-right: 20px;
		text-align:center;
	}
	
	div.youtube {
		width:560px;
		margin-left: auto;
		margin-right: auto;
		border:thick solid rgba(0,0,0,1);
	}
	div.youtube p {
		font-family: 'Play', sans-serif;
		font-size:24px;
		color:rgba(255,255,255,1);
		margin: 0;
		padding: 2px 0 2px 16px;
		background-color:rgba(153,153,153,1);
	}
	
	div.cell {
		display: inline-block;
		text-align:center;
		width: 333px;
	}
	
	div.cell p {
		margin: 0;
		padding: 0;
	}
	div.celltop {
		height: 333px;
	}
	div.cellbottom {
		margin-top:8px;
		margin-bottom: 8px;
		margin-left: 8px;
		margin-right: 8px;
		padding:8px;
		height: 301px;
		background-color: rgba(255,255,255,0.8);
		text-align:left;
	}
	div.cellbottom h2 {
		margin: 0;
		text-align:center;
	}
	div.cellbottom h3 {
		margin: 0;
		text-align:center;
	}
	
	div.fullCellHolder {

	}
	
	div.fullcell {
		background-color:rgba(204,204,204,1);
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 16px;
		padding:8px;
		overflow:scroll;
		overflow-y: auto;
		overflow-x: auto;
    	text-overflow: ellipsis;
	}
	
	div.fullcell img {
		margin-right:8px;
	}
	
	div.fullCellText {
		margin: 0;
		padding: 0;
		overflow: hidden;
    	text-overflow: ellipsis; 
	}
	div.fullCellText p {
		margin: 0;
		padding: 0;
		overflow: hidden;
    	text-overflow: ellipsis; 
	}
	div.fullCellText h2 {
		margin: 0;
		padding: 0;	
	}
	div.fullCellText h3 {
		margin: 0;
		padding: 0;	
	}
	
	div.alignbottom {
		vertical-align:bottom;
	}
	
	#resume {
		width: 90%;
		padding: 8px 8px 16px 8px;
		margin:auto;
		margin-top: 32px;
		background-color: rgba(255,255,255,0.8);
	}
	#resume a {
		margin-bottom:8px;
		float:right;
	}
	#resume img {
		float:right;
	}
	#resume h1 {
		margin-bottom: 8px;
		padding-left:8px;
	}
	#resume h2 {
		margin: 4px;
		padding-left:16px;
	}
	#resume h3 {
		margin: 4px;
		padding-left:32px;
	}
	#resume p {
		margin: 4px;
		padding-left:48px;
	}
	iframe {
		width: 100%;
		height: 1800px;
	}

}