
body {
  background-image: url('assets/background_stars.gif');
  background-repeat: repeat; /* Or repeat-x, repeat-y, no-repeat */
}

#centeredBody {
	width: 1280px; /* Or any desired width */
	margin: 0 auto;
	margin-top: 36px;
}

h1, p, li {
	color: white;
	font-family: 'Share Tech Mono', monospace;	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}