@charset "utf-8";
/* CSS Document */

/* Normalize CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************/

body{
	overflow:hidden;
    overflow-y:hidden;
	margin: 0;
	padding: 0;
	background-color:#000000;
	font-family:Verdana, Geneva, sans-serif;
	color:#000000;
}

body h1{
	font-size:3em;
	padding: 0 0 0.5em 0;
	color:#FFFFFF;
}

header{
	padding: 1em 0 0 0;
	background-color: #000000;
	/* [disabled]background-image:url(images/header.jpg); */
	text-align: center;
}

header div.navbar ul{
	background-color:#FF6633;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header div.navbar li{
	float:left;
}

header div.navbar li:hover{
	background-color:#000066;
}

header div.navbar li a{
	display:inline-block;
    color: white;
    text-align: center;
    padding: 1em 1em 1em 1em;
    text-decoration: none;
}

.navhighlight {
    background-color: #D2D7DF;
}

div.footer{
	background-color:#FF6633;
	padding: 0.5em 1em 0.5em 2em;
	position: fixed;
    bottom: 0;
    width: 100%;
}

div.footer p{
	font-size:2em;
}

div.content{
	position: absolute;
	top: 8.6em;
	bottom:4em;
	width: 100%;
	overflow:hidden;
    overflow-y:hidden;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.footer p.subtext{
	font-size:1em;
}

div.content p{
	margin:0;
}

video {
    object-fit: contain;
}

video#bgvid {
	margin:8.6em 0 4em 0;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(images/blank.png) no-repeat;
	background-size: cover;
}






























